
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/TlsConfig/.vs/*
library/TlsConfig/TlsConfig/bin/*
library/TlsConfig/TlsConfig/obj/*

# ignore PowerShell Studio MetaData
TlsConfig/TlsConfig.psproj
TlsConfig/TlsConfig.psproj.bak
TlsConfig/TlsConfig.psprojs
TlsConfig/TlsConfig.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*